<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container-fluid px-4">

    <!-- LEFT : Brand -->
    <a class="navbar-brand fw-bold" href="/listings">StayNest</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">

      <!-- LEFT MENU -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link <%= currPath === '/listings' ? 'active fw-semibold' : '' %>" href="/listings">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add Listing</a>
        </li>
      </ul>

      <!-- CENTER : SEARCH -->
        <div class="d-flex justify-content-between align-items-center mb-4">

      <form class="d-flex me-3" action="/listings" method="GET">
        <input class="form-control form-control-sm"
          type="search"
          name="search"
          placeholder="Search stays...">
      </form>

      <!-- RIGHT : AUTH -->
      <div class="d-flex align-items-center gap-2">

        <% if(currentUser){ %>

          <span class="fw-semibold">
            Hi, <%= currentUser.username %>
          </span>

          <% if(currentUser.role === "dev"){ %>
            <span class="badge bg-dark">DEV</span>
          <% } %>

          <a href="/logout" class="btn btn-outline-danger btn-sm">Logout</a>

        <% } else { %>

          <a href="/login" class="btn btn-outline-dark btn-sm">Login</a>
          <a href="/signup" class="btn btn-dark btn-sm">Signup</a>

        <% } %>

      </div>

    </div>
  </div>
</nav>
