
<div class="sidebar" id="sidebar">
      <!-- Toggle Button -->
  <div class="sidebar-toggle">
    <button id="toggleSidebar" class="btn btn-light toggle-btn">
      <i class="bi bi-list" id="toggleIcon"></i>
    </button>
  </div>

  <h6 class="sidebar-title">Explore</h6>

  <a href="/listings"
     class="sidebar-link <%= currPath === '/listings' ? 'active' : '' %>">
      <i class="bi bi-house-door"></i>
      <span>Home</span>
  </a>
  
  <a href="/my-bookings" 
   class="sidebar-link <%= currPath === '/my-bookings' ? 'active' : '' %>">
   <i class="bi bi-calendar-check"></i> <span>My-bookings</span>
 </a>
    <a href="/listings/new"
        class="sidebar-link <%= currPath === '/listings/new' ? 'active' : '' %>">
        <i class="bi bi-plus-circle"></i>
        <span>Add Stay</span>
    </a>

    <a href="/listings"
        class="sidebar-link disabled">
        <i class="bi bi-calendar-check"></i>
        <span>Booking</span>
    </a>

   <a href="#"
     class="sidebar-link disabled">
      <i class="bi bi-droplet"></i>
      <span>Bathroom Rent</span>
    </a>
</div>

