
body {
    background-color: #f8f9fa;
}

.listing-card {
    transition: all 0.25s ease;
    border-radius: 14px;
    overflow: hidden;
}

.listing-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.08);
}

.img-wrapper {
    height: 230px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.listing-card:hover img {
    transform: scale(1.05);
}

.nav-link.active {
   color: black !important;
}

#map {
   height: 350px;
   width: 100%;
   border-radius: 12px;
}

